* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: #716F6F;
    cursor: url('/public/pointer-hand.svg'), auto;
}

/* placeholder içinde okların görünmemesi için*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@-moz-document url-prefix() {
    input[type="number"] {
      -moz-appearance: textfield;
    }
}

/* Mobile */
.container {
    margin: 0 auto;
    width: 343px;
    background-color: #fff;
    border-radius: 24px 24px 100px 24px;
}
.calculator-age {
    padding: 42px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.set-ddmmyy {
    display: flex;
    gap: 16px;
}
.dd, .mm, .yyyy {
    & h4 {
        color: #716F6F;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3px;
    }
    & h6 {
        color: #FF5959;
        font-size: 9px;
        font-weight: 400; 

    }
    & input {
        width: 87px;
        padding: 12px 16px;
        border-radius: 8px;
        border: 1px solid #dcdcdc;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.2px; 
    }
    & input:hover {
        border: 1px solid #854DFF;
    }
}
.calculate-b-section {
    display: flex;
    justify-content: center;
}
.line-2, .hover-btn-2 { display: none;}

.hover-btn {
    width: 64px;
    height: 64px; 
    border: none;
    cursor: pointer;
}
.line {
    width: 112px;
}
.result h3 {
    color: #151515;
    font-size: 52px;
    font-style: italic;
    font-weight: 800;
    line-height: 110%; /* 61.6px */
    letter-spacing: -1.12px;
}
.result h3::before {
    color: #854DFF;
}

@media (min-width: 700px) {
    .container {
        width: 840px;
    }
    .calculator-age {
        padding: 56px;
    }
    .set-ddmmyy {
        gap: 32px;
    }
    .dd, .mm, .yyyy {
        & h4 {
            font-size: 14px;
            letter-spacing: 3.5px;
        }
        & h6 {
            font-size: 14px;
            font-weight: 400;
        }
        & input {
            width: 160px;
            padding: 12px 24px;
            border-radius: 8px;
            border: 1px solid #dcdcdc;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.2px;
            cursor: url('/public/pointer-hand.svg'), auto;
        }
    }
    .result {
        & h3 {
            font-size: 104px;
            font-style: italic;
            font-weight: 800;
            line-height: 110%; /* 114.4px */
            letter-spacing: -2.08px; 
        }
    }
    .line-2{
        display: block;
    }
    .line, .hover-btn {display: none;}
    .hover-btn-2{
        display: block;
    }
}
